/* 
========================================

    1. Root and default setup
    2. Components
        2.1 Primary button w bg
        2.2 Primary button w/o bg
        2.3 Typography
        2.4 Card
    3. Pages
        3.1 index.html

========================================
*/

/* 1. Root and default setup */
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700|Source+Sans+Pro:700&display=swap');
html,body {
    height:100%;

}

body
{
    display: flex;
    flex-flow: column;
}

footer
{    
    margin-top: auto;
    font-size: .8rem;
    padding: 2em 0;
}

footer .container
{
    display: flex;
    flex-flow: row;
    align-items: center;
}

footer img
{
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}

#footerDetail
{
    margin-left: auto;
    display: flex;
    flex-flow: row;    
}

#footerDetail a
{
    margin-right: 1em;
}

:root
{
    --primary-color: #00458A !important;
    --secondary-color: #EC1B30;
    --light-primary: rgb(0, 69, 138, .3);
    --white: #fff;
    font-size: 16px;
}

*
{
    font-family: 'Nunito', sans-serif;    
    font-weight: 300;
}

button
{
    font-weight: 700 !important;
}

h1,h2,h3,h4,h5,h6, .navbar-brand
{
    font-family: 'Source Sans Pro', sans-serif;
}

a
{
    text-decoration: none !important;
    color: inherit !important;
    font-weight: inherit;
}

section
{
    padding: 4em 0;
}


/* 2. Components */
.btn-primary--bg, .btn-primary--outline
{
    width: 150px;
    padding: 1.5em;
    outline: none;
    border: none;
    box-shadow: 0 10px 50px rgba(0,0,0, .1);

    transition: all 200ms ease-in 50ms;
}

/* 2.1 Primary button w bg */
.btn-primary--bg
{
    background-color: var(--primary-color);    
    color: var(--white);    
}

.btn-primary--bg:hover
{
    background-color: #F7F9FB;
    color: var(--primary-color);
    box-shadow: none;
}

/* 2.2 Primary button w/o bg */
.btn-primary--outline
{
    color: var(--primary-color);
    background-color: var(--white);
}

/* 2.3 Typography */
.hero--title, .header
{    
    color: var(--primary-color);
    margin: 0 0 .75em;    
}

.header, .hero--title
{
    font-size: 2rem;
}

.paragraph
{
    font-size: 1.15rem;
    color: #000000;
    opacity: .8;
    line-height: 40.65px;
}

/* 2.4 Card */
.card
{
    box-shadow: 0 20px 50px rgba(0,0,0, .1);
    border: none !important;
    padding: 2em;
}

.card .header
{
    color: var(--secondary-color);
    font-size: 1.5rem;
}


@media screen and (max-width: 768px)
{
    footer .container
    {
        flex-flow: column;
        align-items: flex-start;
    }

    .hero--title
    {
        font-size: 1.75rem;
    }

    .paragraph
    {
        font-size: 1rem;
    }

    #footerDetail
    {
        margin-left: 0;
        margin-top: 15px;
        flex-flow: column;
    }
}

