*{
    margin:0
}

.container-fluid{
    margin:0;
    padding:0;
}
nav{
    width:100%;
    color:#00458A;
    display:flex;
    justify-content: space-between;
    box-shadow: 1px 1px 8px #888888;
}

.head-content{
    display: flex;
    justify-content: space-around;
}

nav div a{
    color:#00458A;
    text-decoration: none;
 
}

nav div{
    padding:1.5%;
    flex-grow:1;
}

nav .menu{
    display:none;
    background-color:transparent;
    border:none;
}
.nav{
    display:none;
    font-size:20px; 
}

.nav a{
    display:block;
    background-color:white;
    color:#00458A !important;
    padding:2%;
}


@media only screen and (max-width: 768px){

    .hero--title{
        font-size: 1.7rem;
    }

    .paragraph{
        font-size:1rem;
        line-height: 2rem;
    }
 
    nav{
        color:#00458A;
        justify-content: space-between;
        padding: 10px 0px 0px 0px;
        box-shadow: 1px 1px 8px #888888;
        display:flex;
        max-width: 768px;
        
    }
    nav .menu{
        display:block;
        font-size:1rem;
        padding:3%;
        color:lightblue;
    }
    
    nav div a{
        color:#00458A;
        text-decoration: none;
        padding:20px;
    }
    
    nav div{
        padding:10px;
        display:none;
    }

    .head{
        display: block;
        font-size:1rem;
    }

    nav .head-content{
        display:none;
    }

    
    
}