
.title{
    color: red
}

.contactUsMap
{
    max-width: 50%;
    width: 100%;
}

.map
{
    width: 100%;
    height: 100%;
    border: none;
    height: 600px;
}

.contact-container
{
    display: flex;    
    /* flex-flow: row-reverse; */
    align-items: center;
}

.contact-us
{
    padding: 0 3em;
}

.contact-logo
{
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px)
{
    .contact-container
    {
        /* display: flex; */
        display: initial;
        /* flex-flow: column-reverse;         */
    }

    .contact-us
    {
        padding: 2em 0;
        width: 100%;
    }

    .contactUsMap
    {
        max-width: 100%;
    }
}