img {
    width: 17%;height: 17%;
}

a {
    text-decoration: none;
    color: darkblue;
}

.footer {
    margin: 5% 10% 5% 10%;
    /* background-color: yellow; */
}

#footerDetail {
    float: right;
}