.container {
    margin: 5%;
}

.contactUsDetail {
    float: left;
    margin-top: 10%;
}

.contactUsMap {
    float: right
}
˘
.title{
    color: red
}

.map {
    width: 800px;
    height: 600px;
    border:0     
}

.emailLink {
    text-decoration: none;
    color: black;
}